<%- include("partials/header.ejs") %>

<section class="px-8">
  <div class="mt-15 tracking-wider">
    <h1
      class="flex justify-center text-gray-500 lg:font-serif lg:text-lg text-justify font-extralight mb-20 lg:px-20"
    >
      Hi, I’m Uche, but most people call me "Klinks". I studied embedded systems
      and later found a real passion for full stack web development now as well
      as cross-platform development in the future. This blog is where I share my
      journey through tech — the lessons, the projects, the struggles, and the
      wins. I write about what I’m learning, how I’m growing, and the things
      that matter to me in the world of IT.
    </h1>
  </div>

  <div class="grid lg:grid-cols-3 gap-6">
    <% for (let i = 0; i < totalBlogs.length; i++) { %>

    <div
      class="border-1 rounded-3xl border-gray-200 flex flex-col h-[450px] items-center p-4 text-center "
    >
      <a href="/article/<%=locals.totalBlogs[i].hyphenBlogTitle%>">
        <p class="italic"><%= locals.totalBlogs[i].title%></p></a
      >

      <div class="aspect-[16/16] overflow-hidden my-5">
        <img
          src="<%=locals.totalBlogs[i].dataUrl%>"
          alt="Blog author image"
          class="object-contain"
        />
      </div>

      <a href="" class="mt-auto text-base">
        <p><%= locals.totalBlogs[i].created_at%></p></a
      >
    </div>
    <% } %>
  </div>
</section>

<%- include("partials/footer.ejs") %>

<!-- 
https://www.youtube.com/watch?v=0TxMHYCMALE&ab_channel=DaveGray -->
