<%- include("partials/header.ejs") %>

    <div class="mt-15 tracking-wider">
      <h1
        class="flex justify-center text-gray-500 lg:font-serif lg:text-8xl font-extralight mb-20"
      >
        BLOG
      </h1>
    </div>

    <div class="grid lg:grid-cols-3 lg:px-5 gap-6 px-6">

      <% if (locals.totalBlogs) {%>
       <% for (let i = 0; i < totalBlogs.length; i++) { %>

    <div
      class="border-1 rounded-3xl border-gray-200 flex flex-col h-[450px] items-center p-4 text-center"
    >
      <a href="<%=locals.totalBlogs[i].hyphenBlogTitle%>"> <p class="italic"><%= locals.totalBlogs[i].title%></p></a>

      <a href="" class="mt-auto text-base">
        <p><%= locals.totalBlogs[i].created_at%></p></a
      >
    </div>
    <% } %>

      <%}%>
     
    </div>
    <%- include("partials/footer.ejs") %>
    <script>
      const menu_btn = document.getElementById("menu_btn");
      const mobile_menu = document.getElementById("mobile_menu");
      const menu_bars = document.getElementById("menu_bars");
      const menu_close = document.getElementById("menu_close");

      menu_btn.addEventListener("click", () => {
        mobile_menu.classList.toggle("hidden");
        menu_bars.classList.toggle("hidden");
        menu_close.classList.toggle("hidden");
      });
    </script>
  </body>
</html>

<!-- 
https://www.youtube.com/watch?v=0TxMHYCMALE&ab_channel=DaveGray -->